%h1 Welcome to Rubysteps
%h2 Lessons
:javascript
  $(function(){
    var get_topics = function(){
      $.ajax({
        url: "#{api_topics_path}",
        datatype: 'json',
        success: function(data){
        $.each(data, function(topic){
          $('#topics').html('<h3>'+topic.title+'</h3>');
          });
        }
      });
    };
    get_topics();
  });
